= render partial: "shared/request_template_table", locals: { description: @description,
                                                             sql: @sql,
                                                             records: @records }
